@import url("font-awesome.min.css");
@import url("fontello.css");

ul.contact li {
	-moz-transition: top .15s ease-in-out;
	-webkit-transition: top .15s ease-in-out;
	-ms-transition: top .15s ease-in-out;
	transition: top .15s ease-in-out;
	position: relative;
	display: inline-block;
	margin: 0 0.25em 0 0.25em;
	top: 0;
}

ul.contact li a {
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	display: block;
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 6px;
	outline: 0;
	background: rgba(170,0,0,0.5);
	text-align: center;
}	

ul.contact li a:before {
	color: white;
	font-size: 32px;
	line-height: 48px;
}

ul.contact li:hover {
	top: -5px;
}

ul.contact li:hover a.fa-facebook {
	background-color: #3C5A98;
}

ul.contact li:hover a.fa-twitter {
	background-color: #2DAAE4;
}


ul.contact li:hover a.fa-instagram {
	background-color: #2E5E86;
}

ul.contact li:hover a.fa-google-plus {
	background-color: #DA2713;
}

ul.contact li:active {
	top: 0;
}
	
.icon {
	position: relative;
	text-decoration: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon .label {
	display: none;
}



