@import url(../../css/estilo.css);

body {
	background: #fff;
}
img {
	width: 100%;
	margin-bottom: 30px;
}
.estadios img {
	width: 100%;
	height: 300px;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}
.btn {
	border-radius: 10px;

}

.saludo1 .usuario{  
     float: right;
     font-size: 20px;
     margin-top: 8px;
     margin-left: 10px;
     margin-right: 20px;
     cursor: pointer;
     background: rgba(120,0,0,0.9);
}

.saludo1 :hover{
     color: #ffbf00;
     transition: 3s;
}

.saludo .salida a { 
    float: right;
    margin-top: 5px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.saludo .salida a:hover {
     color: red;
     transition: 2s;
}